.eatscard-wrap {
  padding: 6px 10px;
}

.eatscard--icon-small {
  font-size: 28px;
  color: var(--white);
}

.eatscard--name {
  margin: 6px 0 0 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.eatscard--info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.eatscard--address {
  margin: 0;
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-light);
}

.eatscard--phone {
  margin: 0;
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-light);
}

.eatscard--footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 20px;
  line-height: 20px;
}

.eatscard--link {
  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: inherit;
}

.eatscard--link:link {
  color: var(--brandcolor);
  background-color: inherit;
}

.eatscard--link:visited {
  color: var(--brandcolor);
  background-color: inherit;
}

.eatscard--link:hover {
  color: white;
  background-color: inherit;
}

.eatscard--link:active {
  color: var(--brandcolor);
  background-color: inherit;
}

/* Tablet and up */
@media screen and (min-width: 600px) {
  .eatscard--name {
    font-size: 0.8rem;
  }

  .eatscard--address {
    font-size: 0.7rem;
  }

  .eatscard--phone {
    font-size: 0.7rem;
  }

  .eatscard--footer {
    font-size: 0.8rem;
  }
}
