.admin--content {
  padding-top: 140px;
}

.admin--header {
  position: fixed;
  top: 70px;
  width: 100%;
}

/* Tablet and up */
@media screen and (min-width: 600px) {
  .admin--header {
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
  }

  .admin--content {
    width: 400px;
    margin: 0 auto;
  }
}
