.header--wrap {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  height: 70px;
  background-image: url('../img/header.png');
  text-align: center;
}

.header--title {
  display: inline-block;
  margin: 0 !important;
  padding: 0;
  line-height: 70px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--accent-color);
  background-color: transparent;
}

.header--title:hover {
  color: var(--accent-color);
}

.header--logo {
  position: absolute;
  left: 20px;
}
