.cardlogin--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 6px 10px;
  background-color: var(--accent-color-dark);
}

.cardlogin--name {
  display: inline;
  margin: 0;
  padding: 0;
}

.cardlogin--add {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color-dark);

  border-radius: 50%;
  border: 2px solid var(--white);
}

button.cardlogin--button {
  margin: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: var(--brandcolor);
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
}

button.cardlogin--button:focus {
  border: none;
}
button.cardlogin--button:hover {
  border: none;
}
button.cardlogin--button:active {
  border: none;
}

.cardlogin--add:hover {
  background-color: var(--color-light);
}

.cardlogin--add-icon {
  font-size: 32px;
  line-height: 40px;
}

.cardlogin--link {
  background-color: inherit;
}

.cardlogin--link:link {
  color: var(--brandcolor);
  background-color: inherit;
}

.cardlogin--link:visited {
  color: var(--brandcolor);
  background-color: inherit;
}

.cardlogin--link:hover {
  color: white;
  background-color: inherit;
}

.cardlogin--link:active {
  color: var(--brandcolor);
  background-color: inherit;
}

.cardlogin--profile {
  width: 40px;
  height: 40px;
}

.cardlogin--profile img {
  border-radius: 50%;
  max-width: 100%;
}
