.logoanimated--building {
  animation: logoAni 3s infinite;
  transform-origin: bottom;
}

.logoanimated--bolt {
  transform-origin: bottom;
  transform: translateY(66px) translateX(18px) scale(0.75);

  animation: boltAni 3s infinite;
  animation-delay: 2.2s;
}

@keyframes logoAni {
  0% {
    transform: scaleY(1);
  }
  45% {
    transform: scaleY(0.8);
  }
  65% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes boltAni {
  0% {
    transform: translateY(56px) translateX(18px) scale(0.75);
    opacity: 1;
  }
  45% {
    transform: scaleY(0.8);
    opacity: 1;
  }
  65% {
    transform: scaleY(0.8);
  }
  70% {
    opacity: 0;
  }
  95% {
    transform: scaleY(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(56px) translateX(18px) scale(0.5);
    opacity: 0;
  }
}
